/*@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}*/

div#slider{ 
  overflow: hidden; 
}

div#slider figure img { 
  width: 20%; float: left; 
}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  /*animation: 30s slidy infinite; */
}



body{
  background: #000;
  padding-top: 10px;
  margin: 0;
} 

p#first{
  color: lime; 
  font-family: "Courier";
  font-size: 30px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  -webkit-animation: type 1s steps(20, end);
   -moz-animation: type 1s steps(20, end);
    -ms-animation: type 1s steps(20, end);
     -o-animation: type 1s steps(20, end);
        animation: type 1s steps(20, end);
  /*animation: type 1s steps(20, end); */
}

p#second{
  -webkit-animation: type2 2s steps(60, end);
   -moz-animation: type2 2s steps(60, end);
    -ms-animation: type2 2s steps(60, end);
     -o-animation: type2 2s steps(60, end);
        animation: type2 2s steps(60, end);
  /*animation: type2 2s steps(60, end);*/
}

p#third{
  -webkit-animation: type 5s steps(60, end);
   -moz-animation: type 5s steps(60, end);
    -ms-animation: type 5s steps(60, end);
     -o-animation: type 5s steps(60, end);
        animation: type 5s steps(60, end);  
  /*animation: type2 5s steps(60, end);*/
}

p a{
  color: lime;
  text-decoration: none;
}

#eyelid1{
  -webkit-animation: blink 1s infinite;
   -moz-animation: blink 1s infinite;
    -ms-animation: blink 1s infinite;
     -o-animation: blink 1s infinite;
        animation: blink 1s infinite;  
  /*animation: blink 1s infinite;*/
}

@-webkit-keyframes type{ 
  from { width: 0; } 
} 

@-webkit-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@-webkit-keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}